* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;/* vertical spacing basically */
    background-color: #fefefe;
    color: #333;
}

/* Header */
header {
    background: #ff914d;
    color: white;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin-bottom: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;/*can move to next line when overflow*/
    justify-content: center;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background: url('https://media.4-paws.org/4/c/f/5/4cf55c6a98b590e90d5525368fda5ae64f5a1677/VIER%20PFOTEN_2021-10-12_00048-2569x1778-1920x1329.jpg')
        no-repeat center top/cover;
    height: 450px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;/*for overlay purposes*/
}


.hero h2 {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 1.8rem;
}

.about {
    padding: 40px 20px;
    text-align: center;
}

.dogs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.dog-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 280px;
    text-align: center;
    transition: transform 0.3s;
}

.dog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.dog-card h3 {
    margin: 10px 0 5px;
    color: #ff914d;
}

.dog-card p {
    font-size: 0.9rem;
    color: #555;
    padding: 0 10px 10px;
}

.dog-card:hover {
    transform: translateY(-5px);
}

/* Button */
.btn {
    display: inline-block;
    padding: 10px 25px;
    background: #ff914d;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
    transition: background 0.3s;
}

.btn:hover {
    background: #e66a00;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* RESPONSIVENESS */
@media (max-width: 768px) {
    .hero {
        height: 250px;
    }

    .hero h2 {
        font-size: 1.4rem;
        padding: 10px 15px;
    }

    .dog-card {
        width: 80%;
        max-width: 300px;
    }

    header {
        padding: 10px;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }
}
